* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --josefin: 'Josefin Sans', sans-serif;
    --inter: 'Inter','Noto Sans Thai', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background: #1B1924;
}

.wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

h1 {
    color: #FFF;
    font-family: var(--josefin);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: normal;
}

.input-message {
    width: 100%;
    height: 120px;
    padding: 12px;
    font-family: var(--inter);
    color: #8F8F8F;
    background: #444059;
    border: none;
    border-radius: 8px;
    overflow-y: auto;
    overflow-wrap: break-word;
}

.sender-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.input-from,
.input-to {
    height: 40px;
    padding: 12px;
    font-family: var(--inter);
    color: #8F8F8F;
    background: #444059;
    border: none;
    border-radius: 8px;
}

.sender-container * {
    flex: 1;
}

.submit-btn {
    width: 100%;
    padding: 16px 0;
    background: #28A9F1;
    border: none;
    border-radius: 8px;
    font-family: var(--josefin);
    font-size: 22px;
    font-weight: 700;
    color: #04131C;
    margin-bottom: 12px;
}

h2 {
    color: white;
    font-family: var(--josefin);
    font-size: 20px;
    font-weight: 700;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

li {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 14px;
    background: white;
    border-radius: 8px;
}

li h3,
li h4,
li p {
    font-family: var(--inter);
    font-size: 14px;
}

img {
    width: 120px;
}